/* .App {
   text-align: center;
} */
.nav-ul{
  padding: 3px;
  margin: 0px;
  background-color: dodgerblue;
}
ul{
  padding: 3px;
}
.ul li{
 display: inline-block;
  padding: 5px;
}
.ul li a{
  text-decoration: none;
  color: white;
  padding: 10px; 
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: dodgerblue;
}
.signup h1, .Login h1{
 text-align: center;
}
.inputs input{
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 300px;
  border: 1px solid dodgerblue ;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.container {
  width: 500px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: whitesmoke;
  padding: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
